---
http_interactions:
- request:
    method: get
    uri: https://lda.senate.gov/api/v1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token 72c153c51bc24393b0c80e0dd96cc721
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"filings":"https://lda.senate.gov/api/v1/filings/","contributions":"https://lda.senate.gov/api/v1/contributions/","registrants":"https://lda.senate.gov/api/v1/registrants/","clients":"https://lda.senate.gov/api/v1/clients/","lobbyists":"https://lda.senate.gov/api/v1/lobbyists/","constants/filing/filingtypes":"https://lda.senate.gov/api/v1/constants/filing/filingtypes/","constants/filing/lobbyingactivityissues":"https://lda.senate.gov/api/v1/constants/filing/lobbyingactivityissues/","constants/filing/governmententities":"https://lda.senate.gov/api/v1/constants/filing/governmententities/","constants/general/countries":"https://lda.senate.gov/api/v1/constants/general/countries/","constants/general/states":"https://lda.senate.gov/api/v1/constants/general/states/","constants/lobbyist/prefixes":"https://lda.senate.gov/api/v1/constants/lobbyist/prefixes/","constants/lobbyist/suffixes":"https://lda.senate.gov/api/v1/constants/lobbyist/suffixes/","constants/contribution/itemtypes":"https://lda.senate.gov/api/v1/constants/contribution/itemtypes/"}'
  recorded_at: Tue, 27 Aug 2024 03:58:21 GMT
recorded_with: VCR 6.3.1
