---
http_interactions:
- request:
    method: post
    uri: https://lda.senate.gov/api/auth/password/reset/confirm/
    body:
      encoding: UTF-8
      string: '{"new_password1":"535a9a3c-48aa-45a3-a3a1-5f50a3b78e1c","new_password2":"535a9a3c-48aa-45a3-a3a1-5f50a3b78e1c","uid":"1bee6994-c785-4208-84df-6a7a7bff0130","token":"bb865a67-0bf6-452b-a644-100cc13ba7c8"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - POST, OPTIONS
    body:
      encoding: UTF-8
      string: '{"detail":"Password has been reset with the new password."}'
  recorded_at: Fri, 30 Aug 2024 18:39:47 GMT
recorded_with: VCR 6.3.1
