---
http_interactions:
- request:
    method: get
    uri: https://lda.senate.gov/api/v1/lobbyists/?registrant_name=Miller%20%26%20Chevalier%20Chartered
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '{"count":78,"next":"https://lda.senate.gov/api/v1/lobbyists/?page=2&registrant_name=Miller+%26+Chevalier+Chartered","previous":null,"results":[{"id":741,"prefix":null,"prefix_display":null,"first_name":"MICHAEL","nickname":null,"middle_name":"L","last_name":"SCHULTZ","suffix":null,"suffix_display":null,"registrant":{"id":25306,"url":"https://lda.senate.gov/api/v1/registrants/25306/","house_registrant_id":30617,"name":"MILLER
        & CHEVALIER CHARTERED","description":"Law firm","address_1":"900 16th St.,
        NW","address_2":null,"address_3":null,"address_4":null,"city":"Washington","state":"DC","state_display":"District
        of Columbia","zip":"20006","country":"US","country_display":"United States
        of America","ppb_country":"US","ppb_country_display":"United States of America","contact_name":"PATRICK
        HOLTEN","contact_telephone":"+1 202-626-5877","dt_updated":"2024-10-11T11:26:05.203636-04:00"}},{"id":1635,"prefix":null,"prefix_display":null,"first_name":"ZACHARY","nickname":null,"middle_name":null,"last_name":"PAULSEN","suffix":null,"suffix_display":null,"registrant":{"id":25306,"url":"https://lda.senate.gov/api/v1/registrants/25306/","house_registrant_id":30617,"name":"MILLER
        & CHEVALIER CHARTERED","description":"Law firm","address_1":"900 16th St.,
        NW","address_2":null,"address_3":null,"address_4":null,"city":"Washington","state":"[...]
