---
http_interactions:
- request:
    method: get
    uri: https://lda.senate.gov/api/v1/lobbyists/67387/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '{"id":67387,"prefix":null,"prefix_display":null,"first_name":"MIKE","nickname":null,"middle_name":null,"last_name":"COPHER","suffix":null,"suffix_display":null,"registrant":{"id":401104726,"url":"https://lda.senate.gov/api/v1/registrants/401104726/","house_registrant_id":401104726,"name":"10-SQUARE
        SOLUTIONS","description":"Consulting","address_1":"3600 South Glebe Road","address_2":"Suite
        324","address_3":null,"address_4":null,"city":"Arlington","state":"VA","state_display":"Virginia","zip":"22202","country":"US","country_display":"United
        States of America","ppb_country":"US","ppb_country_display":"United States
        of America","contact_name":"MIKE COPHER","contact_telephone":"+1 202-812-9106","dt_updated":"2022-04-06T16:06:25.140869-04:00"}}'
  recorded_at: Mon, 14 Oct 2024 22:17:01 GMT
recorded_with: VCR 6.3.1
