---
http_interactions:
- request:
    method: get
    uri: https://lda.senate.gov/api/v1/contributions/?contribution_amount_min=0.17e2&contribution_payee=Bernie%20Sanders&registrant_name=International%20Union%20of%20Painters%20and%20Allied%20Trades
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"https://lda.senate.gov/api/v1/contributions/df688fdd-bd0d-4207-9f85-d78b91c7c9de/","filing_uuid":"df688fdd-bd0d-4207-9f85-d78b91c7c9de","filing_type":"MM","filing_type_display":"Mid-Year
        Report","filing_year":2018,"filing_period":"mid_year","filing_period_display":"Mid-Year
        (Jan 1 - Jun 30)","filing_document_url":"https://lda.senate.gov/filings/public/contribution/df688fdd-bd0d-4207-9f85-d78b91c7c9de/print/","filing_document_content_type":"text/html","filer_type":"organization","filer_type_display":"Registrant","dt_posted":"2018-07-24T11:48:01.927000-04:00","contact_name":"BRITTON
        LOFTIN","comments":null,"address_1":"7234 Parkway Dive","address_2":null,"city":"Hanover","state":"MD","state_display":"Maryland","zip":"21076","country":"US","country_display":"United
        States of America","registrant":{"id":19833,"url":"https://lda.senate.gov/api/v1/registrants/19833/","house_registrant_id":31994,"name":"INTERNATIONAL
        UNION OF PAINTERS AND ALLIED TRADES","description":"Union Issues","address_1":"7234
        Parkway Dive","address_2":null,"address_3":null,"address_4":null,"city":"Hanover","state":"MD","state_display":"Maryland","zip":"21076","country":"US","country_display":"United
        States of America","ppb_country":"US","ppb_country_display":"United States
        of America","contact_name":"BRITTON LOFTIN","contact_telephone":"+1 410-508-0258","dt_updated":"2024-07-30T14:00:35.708709-04:00"},"lobbyist":null,"no_contributions":false,"pacs":["IUPAT
        Political Action Together Political Committee"],"contribution_items":[{"contribution_type":"feca","contribution_type_display":"FECA","contributor_name":"IUPAT
        POLITICAL ACTION TOGETHER POLITICAL COMMITTEE","payee_name":"FRIENDS OF CHERI
        BUSTOS","honoree_name":"Bustos, Cheri","amount":"2500.00","date":"2018-01-19"},{"contribution_type":"feca","contribution_type_display":"FECA","contributor_name":"IUPAT
        POLITICAL ACTION TOGETHER POLITICAL COMMITTEE","payee_name":"DSCC","honoree_name":"DSCC","amount":"15000.00","date":"2018-06-25"},{"contribution_type":"feca","contribution_type_display":"FECA","contributor_name":"IUPAT
        POLITICAL ACTION TOGETHER POLITICAL COMMITTEE","payee_name":"NADLER FOR CONGRESS","honoree_name":"Nadler,
        Jerrold","amount":"2500.00","date":"2018-02-19"}[...]
