---
http_interactions:
- request:
    method: get
    uri: https://lda.senate.gov/api/v1/filings/?registrant_country=US&registrant_id=401104726
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '{"count":87,"next":"https://lda.senate.gov/api/v1/filings/?page=2&registrant_country=US&registrant_id=401104726","previous":null,"results":[{"url":"https://lda.senate.gov/api/v1/filings/1fcf58ed-e319-4315-a970-a93e45e9ef4f/","filing_uuid":"1fcf58ed-e319-4315-a970-a93e45e9ef4f","filing_type":"RR","filing_type_display":"Registration","filing_year":2017,"filing_period":"fourth_quarter","filing_period_display":"4th
        Quarter (Oct 1 - Dec 31)","filing_document_url":"https://lda.senate.gov/filings/public/filing/1fcf58ed-e319-4315-a970-a93e45e9ef4f/print/","filing_document_content_type":"text/html","income":null,"expenses":null,"expenses_method":null,"expenses_method_display":null,"posted_by_name":"Mike
        Copher","dt_posted":"2018-01-17T13:19:38-05:00","termination_date":null,"registrant_country":"United
        States of America","registrant_ppb_country":null,"registrant_address_1":"3600
        South Glebe Road #324","registrant_address_2":null,"registrant_different_address":null,"registrant_city":"Arlington","registrant_state":"VA","registrant_zip":"22202","registrant":{"id":401104726,"url":"https://lda.senate.gov/api/v1/registrants/401104726/","house_registrant_id":401104726,"name":"10-SQUARE
        SOLUTIONS","description":"Consulting","address_1":"3600 South Glebe Road","address_2":"Suite
        324","address_3":null,"address_4":null,"city":"Arlington","state":"VA","state_display":"Virginia","zip":"22202","country":"US","country_display":"United
        States of America","ppb_country":"US","ppb_country_display":"United States
        of America","contact_name":"MIKE COPHER","contact_telephone":"+1 202-812-9106","dt_updated":"2022-04-06T16:06:25.140869-04:00"},"client":{"id":202510,"url":"https://lda.senate.gov/api/v1/clients/202510/","client_id":12,"name":"MEDTRONIC,
        INC","general_description":"Medical technology, devices, solutions and services.","client_government_entity":false,"client_self_select":null,"state":"DE","state_display":"Delaware","country":"US","country_display":"United
        States of America","ppb_state":"DE","ppb_state_display":"Delaware","ppb_country":"US","ppb_country_display":"United
        States of America","effective_date":"2017-12-06"},"lobbying_activities":[{"general_issue_code":"VET","general_issue_code_display":"Veterans","description":"Education
        regarding the VA Medical Surgical Prime Vendor Program and delay in purchase
        order payments.","foreign_entity_issues":null,"lobbyists":[{"lobbyist":{"id":67387,"prefix":null,"prefix_display":null,"first_name":"MIKE","nickname":null,"middle_name":null,"last_name":"COPHER","suffix":null,"suffix_display":null},"covered_position":"Former
        House COS in MEmber''s personal office and Staff Director House Veterans Affairs
        Committee.","new":true}],"government_entities":[]}],"conviction_disclosures":[],"foreign_entities":[],"affiliated_organizations":[]},{"url":"https://lda.senate.gov/api/v1/filings/c9aadfc2-6006-4721-bbca-b1522937b654/","filing_uuid":"c9aadfc2-6006-4721-bbca-b1522937b654","filing_type":"RR","filing_type_display":"Registration","filing_year":2017,"filing_period":"fourth_quarter","filing_period_display":"4th
        Quarter (Oct 1 - Dec 31)","filing_document_url":"https://lda.senate.gov/filings/public/filing/c9aadfc2-6006-4721-bbca-b1522937b654/print/","filing_document_content_type":"text/html","income":null,"expenses":null,"[...]
