---
http_interactions:
- request:
    method: get
    uri: https://lda.senate.gov/api/v1/clients/?client_name=Boston%20Scientific%20Corporation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '{"count":10,"next":null,"previous":null,"results":[{"id":102037,"url":"https://lda.senate.gov/api/v1/clients/102037/","client_id":1004924,"name":"BOSTON
        SCIENTIFIC CORPORATION","general_description":null,"client_government_entity":false,"client_self_select":null,"state":"DC","state_display":"District
        of Columbia","country":"US","country_display":"United States of America","ppb_state":null,"ppb_state_display":null,"ppb_country":"US","ppb_country_display":"United
        States of America","effective_date":"2008-01-01","registrant":{"id":1171,"url":"https://lda.senate.gov/api/v1/registrants/1171/","house_registrant_id":31749,"name":"ALPINE
        GROUP PARTNERS, LLC.","description":"Public relations consulting firm","address_1":"500
        North Capitol Street, NW","address_2":"Suite 210","address_3":null,"address_4":null,"city":"Washington","state":"DC","state_display":"District
        of Columbia","zip":"20001","country":"US","country_display":"United States
        of America","ppb_country":"US","ppb_country_display":"United States of America","contact_name":"ALISA
        JANE HESS","contact_telephone":"+1 469-371-2535","dt_updated":"2024-07-17T13:23:53.038918-04:00"}},{"id":104572,"url":"https://lda.senate.gov/api/v1/clients/104572/","client_id":1003874,"name":"BOSTON
        SCIENTIFIC CORPORATION","general_description":"Development and advocacy of
        less-invasive medical devices and procedures.","client_government_entity":false,"client_self_select":false,"state":null,"state_display":null,"country":"","country_display":"*
        Undetermined","ppb_state":null,"ppb_state_display":null,"ppb_country":"","ppb_country_d[...]
