---
http_interactions:
- request:
    method: get
    uri: https://lda.senate.gov/api/v1/registrants/762/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '{"id":762,"url":"https://lda.senate.gov/api/v1/registrants/762/","house_registrant_id":31711,"name":"ALASKA
        WILDERNESS LEAGUE","description":null,"address_1":"122 C Street, NW","address_2":"Suite
        240","address_3":null,"address_4":null,"city":"Washington","state":"DC","state_display":"District
        of Columbia","zip":"20001","country":"US","country_display":"United States
        of America","ppb_country":"US","ppb_country_display":"United States of America","contact_name":"LEAH
        DONAHEY","contact_telephone":"+1 202-544-5205","dt_updated":"2022-04-06T16:06:34.871892-04:00"}'
  recorded_at: Sat, 12 Oct 2024 17:52:35 GMT
recorded_with: VCR 6.3.1
